@import 'variables';
@import '~ionic-angular/ionic';
@import '~ionicons/dist/scss/ionicons';

@import "../pages/about/about";

@import "../pages/tutorial/tutorial";

@import "../pages/login/login";

@import "../pages/map/map";

@import "../pages/schedule/schedule";

@import "../pages/schedule-filter/schedule-filter";

@import "../pages/speaker-detail/speaker-detail";

@import "../pages/speaker-list/speaker-list";